// *******************************
//          ATTRIBUTION
// *******************************

.attribution {
    background-color: $very-light-gray;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    width: 100%;

    a {
        color: $dark-grayish-violet;
        font-weight: 700;

        @include for-medium-screens {
            display: inline-block;
            transition: all .5s;

            &:hover {
                color: $very-dark-violet;
                transform: translateY(-2px);
            }

            &:active {
                color: $dark-grayish-violet;
                transform: none;
            }
        }
    }
}