// *******************************
//            CTA
// *******************************

.cta {
    @include bdr(orange);
    display: flex;
    margin: 10rem auto;
    width: 100%;

    @include for-large-screens {
        margin: 15rem auto;
    }

    &__container {
        @include bdr(rgb(30, 8, 129));
        @include flexbox;
        background-color: $dark-violet;
        background-image: url(../../images/mobile-patterns/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: right top;
        // background-size: 100%;
        color: $very-light-gray;
        margin: auto;
        padding: 3.5rem;
        width: 90%;
        max-width: 110rem;

        @include for-medium-screens {
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        @include for-large-screens {
            background-image: url(../../images/desktop-patterns/bg-pattern-how-we-work-desktop.svg);
            padding: 5rem 8rem;
        }
    }

    &__title {
        font: 400 3.5rem $headings-font;
        line-height: 3.5rem;
        margin: 2rem auto;
        text-align: center;

        @include for-medium-screens {
            text-align: left;
            width: 50%;
            max-width: 40rem;
        }

        @include for-large-screens {
            margin: 2rem 0;
            font-size: 4.5rem;
            line-height: 5.5rem;
            width: 60%;
            max-width: 49rem;
        }
        @media screen and(min-width:1200px){
            font-size: 5.5rem;
        }

    }

    .btn {
        border: 2px solid #fff;
        font-size: 1.6rem;
        margin: 2rem auto;
        padding: 1rem 3rem;
        color: #fff;
        text: {
            decoration: none;
            transform: uppercase;
        }

        @include for-large-screens {
            margin: 0;
        }
    }

}