// *******************************
//          MAIN CONTENT
// *******************************

.main-content {
    @include flexbox;
    width: 100%;

    // ----------- Container -------------
    &__container {
        @include flexbox;
        width: 90%;
        max-width: 110rem;

        @include for-large-screens {
            width: 80%
        }
    }
}