// *******************************
//          MAIN FOOTER
// *******************************


.main-footer {
    @include flexbox;
    background-color: $very-light-gray;
    background-image: url(../../images/mobile-patterns/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 100%;

    @include for-medium-screens {
        background-image: url(../../images/desktop-patterns/bg-pattern-footer-desktop.svg);
        background-position: left top;
        background-size: 55%;

    }

    @include for-large-screens {
        background-size: 40%;
    }

    // ------- Container --------
    &__container {
        @include flexbox;
        margin: 8rem auto 5rem;
        width: 90%;
        max-width: 110rem;


        @media screen and (min-width:500px) {
            flex-flow: row wrap;
        }

        @include for-medium-screens {
            margin: 5rem auto;
            justify-content: space-between;
            align-items: baseline;
            width: 80%;
        }

    }
}

// ------  Social media section  -----------
.social-media {
    @include flexbox;
    border-bottom: 1px solid $dark-grayish-violet;
    margin-bottom: 4rem;
    width: 90%;

    @include for-medium-screens {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
        width: 100%;
    }

    &__logo {
        width: 10rem;
    }
}