// *******************************
//          MAIN HEADER
// *******************************

.main-header {
    @include bdr;
    @include flexbox;
    background-color: $dark-violet;
    color: #fff;
    position: relative;
    width: 100%;
    // display: none;

    &__left-pattern {
        position: absolute;
        left: 0;
        top: 45%;
        // max-width: 30rem;
        width: 17rem;



        @include for-medium-screens {
            top: 70%;
            width: 15rem;
        }

        @media screen and (max-width:767px) {
            top: 56%;
        }

        @media screen and (min-width:501px) and (max-width:767px) {
            width: 25rem;
        }

        @media screen and (max-width:650px) {
            top: 51%;
        }

        @media screen and (max-width:500px) {
            top: 43%;
            width: 20rem;
        }

        @media screen and (max-width:359px) {
            top: 35%;
            width: 20rem;
        }

        @include for-large-screens {
            top: 60%;
            width: 20rem;
        }

    }

    &__right-pattern {
        position: absolute;
        right: 0;
        bottom: -20%;
        width: 13rem;
        
        @include for-medium-screens {
            top: 0;
            bottom: unset;
            width: 25rem;
            z-index: 100;
        }

        @include for-large-screens {
            width: 30rem;
        }
    }

    &__container {
        @include bdr(cyan);
        @include flexbox;
        width: 100%;
        max-width: 110rem;

        @include for-medium-screens {
            flex-direction: row;
            justify-content: space-evenly;
            margin: 10rem auto;
            width: 90%;
        }
    }

    // ---- Content ----
    &__content {
        @include bdr(cyan);
        font-size: 1.6rem;
        margin: 10rem auto;
        text-align: center;
        width: 85%;
        max-width: 50rem;
        z-index: 50;

        @include for-medium-screens {
            margin: 0;
            text-align: left;
            width: 50%;
            max-width: 40rem;
        }
    }

    &__title {
        font: 400 4rem $headings-font;
        line-height: 4rem;

        @include for-medium-screens {
            font-size: 4.5rem;
            line-height: 5rem;

        }
    }

    &__description {
        line-height: 2.5rem;
        margin: 3rem auto 5rem;
    }

    .btn {
        border: 2px solid #fff;
        padding: 1rem 3rem;
        color: #fff;
        text-decoration: none;
    }

    // ---- Image ----
    &__picture {
        order: -1;
        max-height: 40rem;
        width: 100%;
        z-index: 50;

        @include for-medium-screens {
            max-height: 100%;
            width: 40%;
            order: 1;
        }

        @media screen and (max-width:767px) {
            max-height: 65rem;
        }

        @media screen and (max-width:650px) {
            max-height: 50rem;
        }

        @media screen and (max-width:500px) {
            max-height: 40rem;
        }

    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;

        @media screen and (max-width:767px) {
            max-height: 65rem;

        }

        @media screen and (max-width:650px) {
            max-height: 50rem;

        }

        @media screen and (max-width:500px) {
            max-height: 40rem;
        }


    }
}