// *******************************
//            NAVBAR
// *******************************

.navbar {
    @include bdr;
    display: flex;
    padding: 2rem 0;
    // min-height: 10vh;
    width: 100%;
    // z-index: 100000000;
    // display: none;

    &__container {
        @include bdr(blue);
        @include flexbox($flow: row nowrap, $justify:space-between);
        margin: auto;
        width: 90%;
        max-width: 110rem;

        @include for-large-screens{
            width: 80%;
        }
    }

    &__logo {
        width: 12rem;
    }

    &__hamburger-btn {
        @include for-medium-screens{
            display: none;
        }
    }

    &__nav {
        @include flexbox($justify:flex-start);
        background-color: $very-dark-violet;
        background-image: url(../../images/mobile-patterns/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100%;
        list-style-type: none;
        padding-top: 2rem;
        position: absolute;
        top: 10vh;
        right: 0;
        height: 98vh;
        width: 100%;
        z-index: 1000;
        transition: transform .5s ease;
        transform: translateX(110%);

        @include for-medium-screens {
            position: static;
            background: transparent;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0;
            height: auto;
            width: 45rem;
            transform: none;
        }
    }

    &__nav-item {
        font-size: 1.8rem;

        @include for-medium-screens {
            font-size: 1.6rem;
        }
    }

    &__nav-link {
        display: block;
        color: #fff;
        margin: 2rem auto;

        text: {
            decoration: none;
            transform: uppercase;
        }

        @include for-medium-screens {
            color: $dark-grayish-violet;
            margin: 0;
        }

        &.btn {
            border: 2px solid #fff;
            padding: 1rem 6rem;
            color: #fff;
            text-decoration: none;
            width: 100%;

            @include for-medium-screens {
                color: $very-dark-violet;
                border-color: $very-dark-violet;
                padding: 1rem 2rem;
            }
        }
    }
}