// *******************************
//            NAVBAR
// *******************************

.navbar {
    @include bdr;
    display: flex;
    padding: 2rem 0;
    // min-height: 10vh;
    width: 100%;
    // z-index: 100000000;
    // display: none;

    &__container {
        @include bdr(blue);
        @include flexbox($flow: row nowrap, $justify:space-between);
        margin: auto;
        width: 90%;
    }

    &__logo {
        width: 12rem;
    }

    &__nav {
        @include flexbox($justify:flex-start);
        background-color: $very-dark-violet;
        background-image: url(../../images/mobile-patterns/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100%;
        list-style-type: none;
        padding-top: 2rem;
        position: absolute;
        top: 10vh;
        right: 0;
        height: 98vh;
        width: 100%;
        z-index: 1000;
        transition: transform .5s ease;
        transform: translateX(110%);
    }

    &__nav-item {
        font-size: 1.8rem;
    }

    &__nav-link {
        display: block;
        color: #fff;

        text: {
            decoration: none;
            transform: uppercase;
        }

        margin: 2rem auto;

        &.btn {
            border: 2px solid #fff;
            padding: 1rem 6rem;
            color: #fff;
            text-decoration: none;
            width: 100%;
        }
    }
}